cat > docker-compose.yml << 'EOF'
version: '2.4'
# REVISION: 2.0.1 (2025-12-02)
# Added gps-logger (v1.3.1) and cleaned Telegraf.

volumes:
  settings:
  airnav-radar:
  tar1090:

services:
  splitter:
    build: ./splitter
    restart: always
    privileged: true
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      - NTRIP_HOST=rtk2go.com
      - NTRIP_PORT=2101
      - NTRIP_MOUNT=knummi_kha
      - NTRIP_USER=rwiren@gmail.com
      - NTRIP_PASS=none
    expose:
      - "2000"
    labels:
      io.balena.features.supervisor-api: '1'

  gpsd:
    build: ./gpsd
    restart: always
    privileged: true
    depends_on:
      - splitter
    devices:
      - /dev/pps0:/dev/pps0
    environment:
      - TZ=Europe/Helsinki
      - DEVICES=tcp://splitter:2000 /dev/pps0
      - GPSD_OPTIONS=-n -G
    command: tcp://splitter:2000 /dev/pps0
    ports:
      - "2947:2947"
    labels:
      io.balena.features.supervisor-api: '1'

  gps-logger:
    build: ./gps-logger
    restart: always
    depends_on:
      - gpsd
    environment:
      - GPSD_HOST=gpsd
      - GPSD_PORT=2947
      - INFLUX_URL=http://192.168.1.134:8086
      - INFLUX_DB=readsb
      - TAG_HOST=rpi4-adsb

  telegraf:
    build: ./telegraf-agent
    restart: always
    network_mode: host
    depends_on:
      - gpsd
    labels:
      io.balena.features.supervisor-api: '1'

  system-observer:
    build: ./system-observer
    privileged: true
    restart: always
    network_mode: host
    environment:
      - INFLUX_HOST=192.168.1.134
      - INFLUX_DB=readsb
      - DEVICE_NAME=RPi4-Sensor
    labels:
      io.balena.features.supervisor-api: '1'

  dump1090-fa:
    build: ./dump1090-fa
    image: dump1090-fa
    restart: unless-stopped
    privileged: true
    environment:
      - LAT=60.3195
      - LON=24.8310
    devices:
      - "/dev/bus/usb"
    expose:
      - "30005"
      - "30003"
    ports:
      - "30003:30003"
      - "30005:30005"
      - "8080:8080"
    labels:
      - "io.balena.features.supervisor-api=1"
      - "traefik.enable=true"
      - "traefik.http.routers.skyaware.rule=PathPrefix(`/skyaware`)"
      - "traefik.http.middlewares.skyaware-redirect.redirectregex.regex=^.*/skyaware$$"
      - "traefik.http.middlewares.skyaware-redirect.redirectregex.replacement=/skyaware/"
      - "traefik.http.middlewares.skyaware-redirect.redirectregex.permanent=true"
      - "traefik.http.routers.dump1090-fa.rule=PathPrefix(`/dump1090-fa`)"
      - "traefik.http.middlewares.dump1090-fa-redirect.redirectregex.regex=^.*/dump1090-fa.*$$"
      - "traefik.http.middlewares.dump1090-fa-redirect.redirectregex.replacement=/skyaware/"
      - "traefik.http.middlewares.dump1090-fa-redirect.redirectregex.permanent=true"

  airnav-radar:
    depends_on:
      - dump1090-fa
    build: ./airnav-radar
    image: airnav-radar
    restart: unless-stopped
    expose:
      - "32088"
    environment:
      - AIRNAV_RADAR_KEY=
      - LAT=60.3195
      - LON=24.8310
      - ALT=96
    volumes:
      - 'airnav-radar:/sys/class/thermal:ro'
      - 'airnav-radar:/var/radarbox/thermal'
    labels:
      io.balena.features.supervisor-api: '1'

  planefinder:
    depends_on:
      - dump1090-fa
    build: ./planefinder
    image: planefinder
    restart: unless-stopped
    ports:
      - "30053:30053"
    environment:
      - BEASTHOST=dump1090-fa
      - LAT=60.3195
      - LON=24.8310
      - PLANEFINDER_SHARECODE=
    labels:
      - "io.balena.features.supervisor-api=1"
      - "traefik.enable=true"
      - "traefik.http.routers.planefinder.rule=PathPrefix(`/planefinder`)"
      - "traefik.http.routers.planefinder-a.rule=PathPrefix(`/`)"
      - "traefik.http.routers.planefinder-b.rule=PathPrefix(`/ajax/`)"
      - "traefik.http.routers.planefinder-c.rule=PathPrefix(`/assets/`)"
      - "traefik.http.routers.planefinder-d.rule=PathPrefix(`/client/`)"
      - "traefik.http.routers.planefinder-e.rule=Path(`/map.html`)"
      - "traefik.http.routers.planefinder-f.rule=Path(`/map3D.html`)"
      - "traefik.http.routers.planefinder-g.rule=Path(`/data.html`)"
      - "traefik.http.routers.planefinder-h.rule=Path(`/logs.html`)"
      - "traefik.http.routers.planefinder-i.rule=Path(`/viz.html`)"
      - "traefik.http.routers.planefinder-j.rule=Path(`/stats.html`)"
      - "traefik.http.routers.planefinder-l.rule=Path(`/setup.html`)"
      - "traefik.http.routers.planefinder.middlewares=planefinder-redirect,planefinder-stripprefix"
      - "traefik.http.middlewares.planefinder-redirect.redirectregex.regex=^.*/planefinder$$"
      - "traefik.http.middlewares.planefinder-redirect.redirectregex.replacement=/planefinder/"
      - "traefik.http.middlewares.planefinder-redirect.redirectregex.permanent=true"
      - "traefik.http.middlewares.planefinder-stripprefix.stripprefix.prefixes=/planefinder"

  opensky-network:
    depends_on:
      - dump1090-fa
    build: ./opensky-network
    image: opensky-network
    restart: unless-stopped
    environment:
      - OPENSKY_USERNAME=
      - OPENSKY_SERIAL=
    labels:
      io.balena.features.supervisor-api: '1'

  piaware:
    depends_on:
      - dump1090-fa
    build: ./piaware
    image: piaware
    restart: unless-stopped
    environment:
      - FLIGHTAWARE_FEEDER_ID=
      - DUMP978_ENABLED=false
    labels:
      io.balena.features.supervisor-api: '1'

  fr24feed:
    depends_on:
      - dump1090-fa
    build: ./fr24feed
    image: fr24feed
    restart: unless-stopped
    ports:
      - "8754:8754"
    environment:
      - FR24_KEY=
    labels:
      - "io.balena.features.supervisor-api=1"
      - "traefik.enable=true"
      - "traefik.http.routers.fr24feed.rule=PathPrefix(`/fr24feed`)"
      - "traefik.http.routers.fr24feed-a.rule=Path(`/logo.png`)"
      - "traefik.http.routers.fr24feed-b.rule=Path(`/monitor.json`)"
      - "traefik.http.routers.fr24feed-c.rule=Path(`/settings.html`)"
      - "traefik.http.routers.fr24feed-d.rule=Path(`/restart.html`)"
      - "traefik.http.routers.fr24feed-e.rule=Path(`/tracked.html`)"
      - "traefik.http.routers.fr24feed-f.rule=Path(`/fr24.css`)"
      - "traefik.http.routers.fr24feed-g.rule=Path(`/jquery.js`)"
      - "traefik.http.routers.fr24feed-h.rule=Path(`/flights.json`)"
      - "traefik.http.routers.fr24feed-i.rule=Path(`/shutdown.html`)"
      - "traefik.http.routers.fr24feed-j.rule=Path(`/logs.json`)"
      - "traefik.http.routers.fr24feed-k.rule=Path(`/shutdown.bin`)"
      - "traefik.http.routers.fr24feed-l.rule=Path(`/restart.bin`)"
      - "traefik.http.routers.fr24feed-m.rule=Path(`/config.json`)"
      - "traefik.http.routers.fr24feed.middlewares=fr24feed-redirect,fr24feed-stripprefix"
      - "traefik.http.middlewares.fr24feed-redirect.redirectregex.regex=^.*/fr24feed$$"
      - "traefik.http.middlewares.fr24feed-redirect.redirectregex.replacement=/fr24feed/"
      - "traefik.http.middlewares.fr24feed-redirect.redirectregex.permanent=true"
      - "traefik.http.middlewares.fr24feed-stripprefix.stripprefix.prefixes=/fr24feed"

  tar1090:
    depends_on:
      - dump1090-fa
    build: ./tar1090
    image: tar1090
    restart: unless-stopped
    environment:
      - BEASTHOST=dump1090-fa
      - LAT=60.319495
      - LON=24.831011
    volumes:
      - tar1090:/var/globe_history
      - tar1090:/var/timelapse1090
      - tar1090:/var/lib/collectd
      - tar1090:/var/lib/collectd/rrd
      - tar1090:/var/log
    ports:
      - "8078:80"
    labels:
      - "io.balena.features.supervisor-api=1"
      - "io.balena.features.procfs=1"
      - "traefik.enable=true"
      - "traefik.http.routers.tar1090.rule=PathPrefix(`/tar1090`)"
      - "traefik.http.routers.tar1090-a.rule=PathPrefix(`/graphs1090`)"
EOF
